:root {
  --text-color: #FBC02D;
}

.home
  {
   color: var(--text-color);
    /* height: 100vh; */
    display: flex;
  }
  
  .content {
    text-align: left;
    display: flex;
  }
  .homeimgs{
    margin-top: 10rem;
    margin-left: 7rem;
  }
  .h1{
    margin: 0.5rem 0;
    font-size: 48px;
    color: var(--text-color);
    margin-left: 200px;
  }
  .h2{
    margin-left: 5px ;
    font-size: 24px;
    color: var(--text-color);
    margin-left: 270px;
  }
  h1, h2, p {
    margin: 0.5rem 0;
  }
  .para{
    color: var(--text-color);
    margin-left: 305px;
    font-size: 24px;
  }
  .para1{
    margin-left: 302px;
    color: aliceblue;
  }
  .explore-btn {
    background-color:var(--text-color);
    color: rgb(20, 18, 18); 
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-left: 330px;

  }
  .explore-btn:hover {
    background-color:  var(--text-color); 
    transform: scale(1.05); 
  }
  
  .header{
    margin-top: 180px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
   
    .header{
      margin-top: 10px;
    }
    .home {
        height: auto;
        padding: 20px;
        background-size: cover;
        text-align: center;
    }

    .content {
        margin-top: 50px;
        text-align: center;
        flex-direction: column;
    }
    .homeimgs{
      margin-top: -1.7rem;
      margin-left: -5px;
    }

    .h1 {
        font-size: 36px;
        margin-left: 0;
    }

    .h2 {
        font-size: 20px;
        margin-left: 0;
    }

    .para, .para1 {
        font-size: 18px;
        margin-left: 0;
    }

    .explore-btn {
        font-size: 14px;
        margin-left: 0;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .home {
        /* padding: 15px; */
    }
    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 18px;
        margin-top: -10px;
    }

    .para, .para1 {
        font-size: 16px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .explore-btn {
        font-size: 12px;
        margin-top: -10px;
    }
}
