.menu-bg{
    background-image: url('../../assets/cm.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FBC02D;
}
.menu-button{
    background-color: #FBC02D;
}
  
@media (max-width: 410px) {
    .menu-bg {
        background-image: url('../../assets/chaithra.jpg');
    }
}
