
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
  color: yellow;
  padding: 2rem;
}
.about-title {
  font-size: 2rem; 
  padding-bottom: 2rem;
}
.about-us h1 {
  font-size: 2rem;
  font-weight: bold;
}

.about-us img {
  border-radius: 0.5rem;
}
.about-left{
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .about-title{
    padding-top: 30px;
  }
  .about-us {
    flex-direction: row;
    justify-content: space-between;
  }
  #aboutus{
    padding-top: 0;
  }
  .about-head{
    font-size: 20px;
  }
}
