/* src/components/Menu.css */
.menu-container{
    background-image: url('../../assets/menu.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FBC02D;
  }
  .menu-section {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 800px;
  }
  
  /* Even section layout: Image first */
  .even-section {
    flex-direction: row;
  }
  
  /* Odd section layout: Items first */
  .odd-section {
    flex-direction: row-reverse;
  }
  
  .section-image {
    width: 45%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .menu-items {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* RESPONSIVE DESIGN */
  
  /* For screens smaller than 768px */
  @media (max-width: 768px) {
    .menu-container{
      background-image: url('../../assets/cm.jpg');
    }
    .section-content {
      flex-direction: column; /* Stack image and items vertically */
      align-items: center;
      text-align: left;
    }
  
    .section-image {
      width: 100%; /* Full width image */
      max-width: 400px;
    }
  
    .menu-items {
      width: 100%; /* Full width items */
      gap: 15px;
    }
  
    .menu-item {
      font-size: 18px; /* Increase font size for readability */
    }
  }